@page "/"
@using WasmServer.Shared
@inject HttpClient http

<h1>Market News</h1>
<hr />
@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-columns">
        @foreach (var x in articles)
        {
            <div class="card">
                <img src="@x.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@x.Headline</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@x.Date.ToLongDateString()</h6>
                    <p class="card-text">@x.Summary</p>
                    <div>Source: <a href="@x.Url" target="_blank">@x.Source</a></div>
                </div>
            </div>
        }
    </div>
}

@code {
    private Article[] articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await http.GetFromJsonAsync<Article[]>("News");
    }
}
