@page "/"
@using WasmServer.Shared
@inject HttpClient http

<h1>Market News</h1>
@if (categories != null)
{
<select class="form-control" @bind="selectedCategory">
    <option value="All">All</option>
    @foreach (var category in categories)
    {
        <option value="@category">@category</option>
    }
</select>
}
<hr />
@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-columns">
        @foreach (var article in articles.Where(x => (selectedCategory == "All") || x.Category == selectedCategory))
        {
            <div class="card">
                <img src="@article.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@article.Headline</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        @article.Date.ToLongDateString()
                        &nbsp;&nbsp;
                        <span class="badge badge-primary">@article.Category</span>
                    </h6>
                    <p class="card-text">@article.Summary</p>
                    <div>Source: <a href="@article.Url" target="_blank">@article.Source</a></div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Article> articles;
    private List<string> categories;
    private string selectedCategory;

    protected override async Task OnInitializedAsync()
    {
        selectedCategory = "All";
        articles = await http.GetFromJsonAsync<List<Article>>("News");
        if (articles != null)
        {
            categories = articles.Select(x => x.Category).Distinct().OrderBy(x => x).ToList();
        }
    }
}
